.menu {
  position: fixed;
  left: 0;
  top: 30vh;
  z-index: 1;

  .item {
    background-color: white;
    margin: 2%;
    width: 15vw;
    border-radius: 0 2rem 2rem 0;
    padding-left: 5%;
    transition: all 0.2s;
  }

  .item:hover {
    scale: 1.1;
    cursor: pointer;
  }
}

.close-button {
  display: none;
}
