.endorsement {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff3b0;

  .slider-wrapper-mobile {
    .slider {
      width: 95vw;

      img {
        height: 50vh;
      }

      .card-content {
        min-height: 10vh;
        margin-top: 5%;
      }

      .card-content::first-letter {
        font-size: xxx-large;
        font-family: "Alex Brush", cursive;
        line-height: 1;
      }
    }
  }

  .slider-wrapper {
    margin-top: 5%;

    .slider {
      width: 80vw;
    }

    .ant-card-body {
      display: flex;
    }
  }

  .slider-wrapper,
  .slider-wrapper-mobile {
    flex: 1;
    display: flex;

    .slider {
      background-color: lightgrey;
      padding: 2% 0;
      border-radius: 1rem;
    }

    .card {
      margin: 0 10%;
      background-color: whitesmoke;
      text-align: left;
      border-radius: 1rem;

      .card-icon {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .img-class,
        .ant-image-mask {
          border-radius: 1rem;
          margin-left: -5vw;
          width: 100%;
        }
      }

      .card-right {
        flex: 3;
        display: flex;

        .card-title-column {
          display: flex;
          flex-direction: column;

          .ant-card-meta-title {
            text-wrap: wrap;
            font-size: xxx-large;
          }

          .ant-card-meta-description {
            font-size: 1.3rem;
          }
        }
      }

      .card-content {
        font-size: large;
        margin-top: 2%;
      }

      .card-content::first-letter {
        font-size: xxx-large;
        font-family: "Alex Brush", cursive;
        line-height: 1;
      }
    }
  }
}
