.endorsement {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff3b0;

  .slider-wrapper {
    margin-top: 5%;
    flex: 1;
    display: flex;

    .slider {
      width: 60vw;
      background-color: lightgrey;
      padding: 2% 0;
      border-radius: 1rem;
    }

    .card {
      margin: 0 10%;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.4) 0 0.125rem 0.25rem,
        rgba(0, 0, 0, 0.3) 0 0.438rem 0.813rem -0.188rem,
        rgba(0, 0, 0, 0.2) 0 -0.188rem 0 inset;

      font-family: "Acme", sans-serif;
      text-align: left;

      .card-header {
        display: flex;

        .card-icon {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15rem;
        }

        .card-title-column {
          flex: 4;
          display: flex;
          flex-direction: column;

          .ant-card-meta-title {
            text-wrap: wrap;
            font-size: xxx-large;
          }

          .ant-card-meta-description {
            font-size: xx-large;
          }
        }
      }

      .card-content {
        display: flex;
        margin-top: 5%;
        font-family: "Source Sans 3 Variable", sans-serif;
        font-size: x-large;
      }
    }
  }
}
