.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #b0fff7;
  background-color: #fff3b0;
  min-height: 100vh;
  font-family: "Alex Brush", cursive;
  font-size: xx-large;

  .list-wrapper {
    flex: 2;
    .skill-list {
      // flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-family: "Aldrich", sans-serif;
      font-size: large;

      .row-break {
        width: 100vw;
      }

      .skill-card {
        width: 40%;
      }

      .skill-card-mobile {
        width: 90%;
      }

      .skill-card,
      .skill-card-mobile {
        display: flex;
        background-color: whitesmoke;
        border-radius: 0.25rem;
        margin: 0 2%;
        text-wrap: nowrap;
        transition: all 0.5s;

        .skill-name,
        .skill-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: max-content;
        }

        .skill-name {
          flex: 2;
        }

        .skill-icon {
          flex: 1;
          font-size: xx-large;

          img {
            height: 2rem;
          }
        }
      }

      .skill-card {
        .skill-name {
          border-bottom: 2rem solid #373737;
          padding: 4% 4% 4% 0;
        }

        .skill-icon {
          flex: 1;
          font-size: xx-large;
          padding: 4%;

          img {
            height: 2rem;
          }
        }
      }

      .skill-card-mobile {
        .skill-name {
          border-bottom: 1rem solid #373737;
          padding: 2% 2% 2% 0;
        }

        .skill-icon {
          flex: 1;
          font-size: xx-large;
          padding: 2%;

          img {
            height: 2rem;
          }
        }
      }

      .skill-card:hover,
      .skill-card-mobile:active {
        scale: 1.2;
      }
    }
  }
}
