.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #b0fff7;
  min-height: 100vh;
  font-family: "Alex Brush", cursive;
  font-size: xx-large;

  .skill-list {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Aldrich", sans-serif;
    font-size: large;

    .row-break {
      width: 100vw;
    }

    .skill-card {
      display: flex;
      background-color: whitesmoke;
      padding: 2%;
      width: 40%;
      border-radius: 0.25rem;
      margin: 0 2%;
      text-wrap: nowrap;

      .skill-name,
      .skill-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
      }

      .skill-name {
        flex: 2;
      }

      .skill-icon {
        flex: 1;
        font-size: xx-large;
      }
    }
  }
}
