.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff3b0;

  .contact-list-container,
  .contact-list-container-mobile {
    flex: 1;
    display: flex;
    margin-top: 10%;

    .contact-list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 5%;
      height: 30vh;
      width: 60vw;
      background-color: white;
      border-radius: 1rem;

      .contact-row {
        display: flex;
        align-items: center;
        text-align: center;
        line-height: 2%;

        .contact-icon {
          flex: 1;
        }

        .contact-info {
          flex: 2;
          text-align: justify;
        }
      }
    }
  }

  .contact-list-container {
    .contact-icon {
      font-size: xxx-large;
    }

    .contact-info {
      font-size: x-large;
    }
  }

  .contact-list-container-mobile {
    .contact-list {
      .contact-row {
        .contact-icon {
          flex: 1;
          font-size: xx-large;
        }

        .contact-info {
          flex: 2;
          text-align: justify;
          font-size: large;
        }
      }
    }
  }
}
