.splash {
  display: flex;
  height: 100vh;
  background-color: #fff3b0;
  justify-content: center;
  align-items: center;
  transition: all ease;

  .splash-img {
    height: 20vh;
    transition: all ease;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  transition: all ease;

  .body {
    display: flex;
    align-items: baseline;

    .vid-banner {
      min-width: 100vw;
      min-height: 100vh;
    }

    .ant-btn-variant-solid {
      left: 48vw;
    }
  }
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .start {
    font-size: 1.5rem;
    height: max-content;
    width: max-content;
  }
}

.container::before {
  /* Added */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: grey;
  transition: 0.5s;
  filter: blur(2rem);
}
