@import "~@fontsource/aclonica";
@import "~@fontsource/aldrich";
@import "~@fontsource/acme";
@import "~@fontsource/agbalumo";
@import "~@fontsource/akaya-kanadaka";
@import "~@fontsource/alata";
@import "~@fontsource/alex-brush";
@import "~@fontsource-variable/source-sans-3";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .shadow-one {
    box-shadow: rgba(0, 0, 0, 0.19) 0 0.625rem 1.25rem,
      rgba(0, 0, 0, 0.23) 0 0.375rem 0.375rem;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    font-weight: bolder;
    font-family: "Alex Brush", cursive;
    font-size: xx-large;
  }

  // Animations
  @keyframes bounce-up-down {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-6.25rem);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      transform: scale(1, 1) translateY(-0.438rem);
    }
    64% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }

  @keyframes bounce-left-right {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    10% {
      transform: scale(0.9, 1.1) translateX(0);
    }
    30% {
      transform: scale(1.1, 0.9) translateX(-6.25rem);
    }
    50% {
      transform: scale(0.95, 1.05) translateX(0);
    }
    57% {
      transform: scale(1, 1) translateX(-0.438rem);
    }
    64% {
      transform: scale(1, 1) translateX(0);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }

  @keyframes bounce-right-left {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    10% {
      transform: scale(0.9, 1.1) translateX(0);
    }
    30% {
      transform: scale(1.1, 0.9) translateX(6.25rem);
    }
    50% {
      transform: scale(0.95, 1.05) translateX(0);
    }
    57% {
      transform: scale(1, 1) translateX(0.438rem);
    }
    64% {
      transform: scale(1, 1) translateX(0);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }

  .bounce-up-down {
    animation-name: bounce-up-down;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }

  .bounce-left-right {
    animation-name: bounce-left-right;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }

  .bounce-right-left {
    animation-name: bounce-right-left;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }

  .down-button {
    position: fixed;
    bottom: 2vh;
    left: 44vw;
  }

  .right-button {
    position: fixed;
    right: 2vw;
    top: 44vh;
  }

  .left-button {
    position: fixed;
    left: 2vw;
    top: 44vh;
  }

  .down-button,
  .right-button,
  .left-button {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
